.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    margin: 15px;
  }